.title_style{
   font-family: vazirbold;
   font-size: 17px;
   color: rgb(0, 0, 0);
}

.bigBlogBoxStyle{
   line-height: 1.8rem !important;
}

/* BLOG OTHER POSTS SLIDER */
.sliderContainer {
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
}
.sliderContainer::-webkit-scrollbar {
   height: 0;
   width: 0;
}
.sliderItem {
   scroll-snap-align: start;
}

/* LTR DIR */
.ltr_dir{
   direction: ltr;
}
