@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: shabnam,-apple-system,  sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: shabnam;
  src: url("/font/Shabnam-FD.woff");
  font-display: block;
}

@import url("./custom.css");
