* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 63.5%;
}

body{
    background-color: #f9f9f9;
    font-family: 'shabnam';
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 4rem 4rem 4rem 2rem;
    min-height: 100vh;

}


/* ---------------------------------- modal --------------------------------- */
.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.visible {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.modal-container::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #080909;
}
.modal-content {
    width: 450px;
    background-color: #fff;
    z-index: 1;
    padding: 30px 40px;
}
.modal-title {
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.btn-groups{
    display: flex;
}
.accept-btn, .unaccept-btn {
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .4s;
    font-family: inherit;
}
.accept-btn {
    background-color: #CE0000;
    color: #fff;
    box-shadow: #ce000077 0px 8px 24px;
}
.accept-btn:hover {
    transform: translateY(-5px);
}
.unaccept-btn {
    background-color: transparent;
    border: 1px solid #009CF0;
    color: #000;
}
.unaccept-btn:hover {
    background-color: #009CF0;
    color: #fff;
    transform: translateY(-5px);
}
.update-btn{
    cursor: pointer;
    width: 100%;
    background-color: #41b300;
    color: #fff;
    box-shadow: #42b3009a 0px 8px 24px;  
    font-family: inherit;
}
.add-course-btn{
    cursor: pointer;
    width: 100%;
    background-color: #41b300;
    color: #fff;
    box-shadow: #42b3009a 0px 8px 24px;  
    font-family: inherit;
}
.add-discount-btn{
    cursor: pointer;
    width: 100%;
    background-color: #41b300;
    color: #fff;
    box-shadow: #42b3009a 0px 8px 24px;  
    font-family: inherit;
}
.edit-user-form {
    margin-top: 10px;
    text-align: left;
}
.input-field {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 2px solid #eee;
    margin-bottom: 20px;
    border-radius: 5px;
}
.input-field span {
    font-size: 1.6rem;
    color: #636e72;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-field input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.4rem;
    padding-right: 15px;
    font-family: inherit;

}

/* End Modal */

/* Sidebar */

.sidebar{
    width: 15%;
    min-width: 200px;
    border-left: 2px solid #eee;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

}

.sidebar-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-logo img{
    width: 8rem;
    height: 5rem;
}

.sidebar-links{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 2rem;
    padding: 4rem 0;
    border-bottom:2px solid #eee;
}

.sidebar-links a,
.sidebar-logout a{
    text-decoration: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    color: #636e72;
    transition: all 0.5s;
    position: relative;
    font-size: 1.6rem;
}


.sidebar-links a:hover,
.sidebar-logout a:hover{
    color: #0984e3;
}

.active::before,
.sidebar-links a:hover:before,
.sidebar-logout a:hover::before{
    content: '';
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #0984e3;
}

a.active {
    color: #0984e3;
    position: relative;
}

.active::before{
    content: '';
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #0984e3;
}

/* End Sidebar */


/* Main Style */

.main{
    width: 85%;
    padding-right: 4rem;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-search{
    width: 40%;
    position: relative;
}

.navbar-search input{
    width: 100%;
    padding: 1rem;
    outline: none;
    border:2px solid #eee;
    border-radius: 5px;
    font-family: inherit;
}

.navbar-search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    font-size: 1.5rem;
    color: #636e72;
    cursor: pointer;
}

.navbar-user-avatar{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.navbar-user-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* End Navbar */

/* Courses */
.courses{
    padding: 4rem 0;
    width: 85%;

}

.courses-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-title{
    font-size: 3rem;
}

.courses-btn-add-new-course{
    background-color: #41b300;
    color: #fff;
    box-shadow: #42b3009a 0px 8px 24px;
}
.add-discounts{
    background-color: #41b300;
    color: #fff;
    box-shadow: #42b3009a 0px 8px 24px;
}

.courses-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0;
}

.courses-item{
    width: 100%;
    height: 75px;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.courses-img-title{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.6rem;
}



.courses-img{
    width: 120px;
    height: 100%;
    object-fit: cover;
}

.courses-name{
    font-size: 1.6rem;
}

.courses-btns{
    padding: 0 2rem;
}


.btn{
    text-decoration: none;
    padding: 1.2rem 2rem;
    outline: none;
    border: none;
    transition: all 0.4s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover::before{
    z-index: 1;
    transition: all 0.4s;
    transform: scale(1.3);
    opacity: 0;
}

.btn::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: -1;
    transition: all 0.4s;
    transform: scale(0);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.courses-btn-delete{
    background-color: #CE0000;
    color: #fff;
    box-shadow: #ce000077 0px 8px 24px;
}

.courses-btn-edit{
    background-color: #009CF0;
    color: #fff;
    box-shadow: #009cf05d 0px 8px 24px;
}



/* End Courses */



@font-face {
    font-family: 'shabnam';
    src: url('./../fonts/Shabnam-FD.eot')format('eot'),
    url('./../fonts/Shabnam-FD.ttf')format('truetype'),
    url('./../fonts/Shabnam-FD.woff')format('woff')
}

@font-face {
    font-family: 'shabnam-bold';
    src: url('./../fonts/Shabnam-Bold-FD.eot')format('eot'),
    url('./../fonts/Shabnam-Bold-FD.ttf')format('truetype'),
    url('./../fonts/Shabnam-Bold-FD.woff')format('woff')
}

@font-face {
    font-family: 'shabnam-light';
    src: url('./../fonts/Shabnam-Light-FD.eot')format('eot'),
    url('./../fonts/Shabnam-Light-FD.ttf')format('truetype'),
    url('./../fonts/Shabnam-Light-FD.woff')format('woff')
}

@font-face {
    font-family: 'shabnam-medium';
    src: url('./../fonts/Shabnam-Medium-FD.eot')format('eot'),
    url('./../fonts/Shabnam-Medium-FD.ttf')format('truetype'),
    url('./../fonts/Shabnam-Medium-FD.woff')format('woff')
}

